<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>posts</title>
</head>
<body>
	<h2>the posts served</h2><br>
	{% for post in added_posts%}
		<strong><p>{{post.title}}</p></strong>
		<p>{{post.text}}</p><br>
		<strong><a href="{% url 'blogs:edit_post' post.id %}">Edit Post</a></strong>
		<br><br>
	{% endfor %}

	<strong><a href="{% url 'blogs:add_post' %}">Add a Post</a> - <a href="{% url 'blogs:index' %}">Return Home</a> </strong>
	<br><br>
</body>
</html>